#!/usr/bin/env bash
set -euo pipefail
cd ${CABINET_INSTALL_DIR}
git pull --ff-only
if docker compose version >/dev/null 2>&1; then
  docker compose -f bundles/docker-compose.yml up -d
else
  docker-compose -f bundles/docker-compose.yml up -d
fi
